header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--background);
    padding: 0.5rem 2rem;
    position: sticky;
    top: 0;
    left: 0;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dg-logo {
    width: 72px;
    height: 72px;
}

.dg-logo-text {
    font-size: 2rem;
    color: var(--accent);
}

nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.nav-link {
    font-size: 1.1rem;
    font-family: 'cinzel';
    font-weight: 600;
    color: var(--text-primary);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    color: var(--accent);
}

.profile-logout-btn {
    background: var(--card);
    border-radius: 8px;
    border: 2px solid var(--border);
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s ease-in-out;
}

.profile-logout-btn:hover {
    border: 2px solid var(--failure);
    box-shadow: 0px 0px 5px var(--failure);
}

.profile-img-container {
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--card);
    outline: 2px solid var(--border);
    transition: all 0.3s ease-in-out;
}

.profile-logout-btn:hover .profile-img-container{
    outline: 2px solid var(--failure);
}

.profile-img {
    width: 100%;
    height: 100%;
}

.logout-heading {
    color: var(--failure);
    font-size: 1.1rem;
}